.new-rel-style{
    text-transform: uppercase;
    background-image: linear-gradient(to right, #F205CB,#0597F2,#F205CB,#0C098C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 32px;
    text-align: center;
    text-shadow: 0 10px 4px rgba(0, 0, 0, 0.250);
    
}
.new-rel-slide-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0;

}

.new-rel-slide{
    display: flex;
    flex-direction: row;
    gap:3%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: scroll;
    overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

}
.new-rel-slide::-webkit-scrollbar{
    display: none;
}

.new-game-card{
   
    height: 185px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1.5fr ;
    grid-template-areas: 'card-img card-info ';
                       

    margin: 10px;
  
}
.card-text{
    grid-area: card-info;
    margin-left: 20px;
    
}
.card-text h3{
    
    margin:0;
    color:#0C098C;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.card-text p{
    font-size: 0.8rem;
    margin-right: 20px;
}
.new-game-img{
    grid-area: card-img;
    height: 143px;
    width: auto;
    margin-left: 20px;
    margin-top:15px;

}
.game-title{
    text-transform: uppercase;
    font-size: 15px;
}


.add-to-cart-btn{
    grid-area: card-btn;
    background-image: url("../icons/to-cart.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-y: 50%;
    background-position-x: 10px;
    width: 100px;
    height: 20px;
    border: #F205CB solid 2px;
    border-radius: 30px;
    color:#F205CB;
    font-size: 0.7rem;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 5px;
   

    
}
.game-added-to-cart{
    font-size: xx-small;
    color:#3FA535;
}
.page-slide{
    text-align: center;
}
.circle {

    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    border: solid 1px black;
    display: inline-block;
    margin: 15px 3px;
    
}
.current-game-slide{
    background-color: #bbb;
}
.single-card{
    min-width: 95vw;
}
.new-release-section{
    margin-top: 50px; 
}

@media (min-width: 750px){
    .single-card{
        min-width: 75vw;
    }
    .new-rel-style{
        font-size: 58px;
        text-align: center; 
    }
    .new-game-card{
        height: 240px;
    }
    
    .add-to-cart-btn{
        background-size: 25px;
        width: 160px;
        height: 40px;
        color:#F205CB;
        font-size: var(--font-size-1rem);
        text-align: end;
        padding-right: 20px;
        margin-top: 10px;

    }
    .game-title{
      
        font-size: 25px;
    }
    .card-text h3{
        
        font-size: 1.5rem;
    }
    .card-text p{
        font-size: 1.2rem;

    }
    .new-game-img{
        height: 200px;

    }
    
    
}
@media (min-width: 1000px ) {
    .new-release-section{
       padding-top: 5%;
    }
    .single-card{
        min-width: 65vw;
    }
    .new-game-card{
        height: 300px;
    }
    .add-to-cart-btn{
        background-size: 35px;
        background-position-x: 20px;
        width: 200px;
        height: 60px;
        font-size: 1.3rem;
    }
    .game-title{
        font-size: 30px;
    }
    .card-text h3{
        font-size: var(--font-size-2rem);
    }
    .card-text p{
        font-size: 1.5rem;
        margin-right: 20px;
    }
    .new-game-img{
        height: 270px;
        width: auto;

    }
}
@media (min-width: 1300px ) {
    .new-release-section{
       padding-top: 10%;
    }
    .single-card{
        min-width: 55vw;
    }
}
@media (min-width: 2000px ) {
    .new-release-section{
       padding-top: 15%;
    }
    .single-card{
        min-width: 35vw;
    }
}