.cart a{
    text-decoration: none;
    color:black;
}
/* .cart h1{
    text-align: center;
    color: #0597F2;
    text-shadow: 0 4px 4px rgb(0, 0, 0,0.25);

} */
hr{
    margin:  0 5%;
}
.blue-cart-line{
 
    border: 0;
    border-top: 5px solid #0597F2;
   
    box-shadow: 0 4px 4px rgb(0, 0, 0,0.25);
    
}
.blue{
    text-align: center;
    color: #0597F2;
   
}
.txt-shaddow{
    text-shadow: 0 4px 4px rgb(0, 0, 0,0.25);
}

li{
    list-style-type: none;
    font-weight: bolder;
    text-align: left;
}

.cart-info-line{
   clear: left;
}
.product-info-headers{
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cart-container{
    
    min-width: 80vw;   
    min-height: 50vh;
    margin: 1vh 5vw;   
    background-color: rgb(217, 217, 217); 
    border-radius: 3%;
   
}
.product-info{
    padding: 5% 5% 0% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-info img{
    width: 38px;
    height: auto;

}
.product-name{
    font-size: 0.5rem;
}

.price-one-product{
    color: #696565;
}

.price-total-product{
    color:black;
    text-align: right;
}
.change-qty{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    border: solid black 2px;
    border-radius: 30px;
    width: 70px;
    height: 20px;
    
    text-align: center;
}
.add{
    border-right: solid 1px black;
    padding: 5%;
}
.remove{
    border-left: solid black 1px;
   
  
}
.total{
    width: 40vw;
    font-size: 0.6rem;
    position: relative;
    top: 50px;
    left: 50%;
}
.total-info-line{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.price-check-out{
    text-align: right;
    padding-right: 10%;
}
.thicker-line{
    border: 0;
    border-top: 2px solid black;
   
}
.grand-total{
    font-size: 1rem;
    font-weight: bold;
}
.co-btn{
    width: 100%;
    height: 30px;
    margin-top: 5%;
    background-color: #0597F2;
    border-radius: 30px;
    font-weight: bolder;
   border:none;
}
.co-btn:hover{
    background-color: #1d05f2;
    color:white;
}
.no-items{
    color:grey;
    padding: 10% 30%;
}
.empty-cart{
    background-color: #92B0C3;
    color:white;
}

/*Shipping*/

 li{
    font-size: 1rem;
    display: inline;
    /* margin-inline: 2vw; */
    

}

/*Confirm*/
.confirm-circle{
    border: 3px solid #0A5506;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    position: relative;
    top: 30px;
    left: 35%;
    margin-bottom: 100px;
    
}
.check-mark{
    color: #0A5506;
    font-size: 3rem;
    text-align: center;
    padding: 15%;
}

    
@media (min-width:750px){
    .product-info-headers{
        padding-left: 10%;
    }
    .cart{
        padding: 0% 5% ;
    }
    .total{
        width: 35vw;
        font-size: 0.8rem;
        position: relative;
      
        left: 50%;
    }
    .product-name{
        font-size: 0.8rem;
    }
    .product-info img{
        width: 52px;
        height: auto;
    
    }
    .change-qty{
      
        width: 100px;
        text-align: center;
        
    }
   
}
@media (min-width:1300px){

    .cart{
        padding-left: 0% 10% ;
    }
}

    
    
