@font-face {
    font-family: 'Krub';
    src: url('./fonts/Krub-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kosugi';
    src: url('./fonts/Kosugi/Kosugi-Regular.ttf') format('truetype');
}
:root{
    --color-dark-transparent: rgba(0,0,0, 62%);
    --krub-font: 'Krub ',sans-serif;
    --kosugi-font: 'Kosugi', sans-serif;
    --line-spacing: 1px;
    --line-spacing-tablet: 10px;
    --line-spacing-desktop: 20px;
    --font-size-08rem: 0.8rem;
    --font-size-1rem: 1rem;
    --font-size-2rem: 2rem;
    --linear-gradient-to-right: linear-gradient( to right, #0C098C 37%, #0597F2 69%);

}
.kosugi-style{
    font-family: var(--kosugi-font);

}

.krub-style{
    font-family: var(--krub-font);

}
.shadow-style{
    box-shadow: 5px 5px 10px black;
}
.radius-style{
    border-radius: 10px;
}
.some-icons{
    height: 25px;
    width: 25px;
}
.buttons-style{

    background-color: rgba(5, 151, 242, 0.9);
    font-size: var(--font-size-08rem)
}
.game-hub-logo{
    height: 48px;
    width: 79px;

}
.back-btn{
    border-radius: 30px; 
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 5%;
 }
 
 .back-btn a{
     text-decoration: none;
     color:black;
 }

body{
    margin:0;
    padding:0;
    letter-spacing: 1px;

}
.main-container{

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';

}
/*HEAD*/
nav,
#menu-checkbox{
    display: none;
}

#menu-checkbox:checked ~ nav{
    display: block;
}


header{
    grid-area: header;
    position: sticky;
    background-image: var(--linear-gradient-to-right);
    min-width: 100%;
    height: 65px;
    top: 0px;
    z-index: 2;

}
.game-hub-logo-header{
    height: 48px;
    width: 79px;
}
.logo-position{
    position: absolute;
    left: 50%;
    top: 10px;
}
nav {
    position: absolute;
    left: 0px;
    background-color: #0C098C;
}
.navbar-item{
    display: block;
    color: #fff;
    font-size: var(--font-size-1rem);
    text-decoration: none;
    padding: 10px ;
}

.fa-solid {
    color:#fff;
    position: absolute;
    left: 20px;
    top: 25px;
}
.hamburger-icon span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 2px;
    margin: 5px 10px;
    background-color: #ffffff;
}
.hamburger-icon{
    margin: 10px;
}

.active {
text-decoration: underline;
color:#BB06A3;
font-weight: bolder;
}
.shopping-cart{
    height: 25px;
    width: 25px;
}

.cart-wrapper{
    position: absolute;
    right: 5%;
    top: 25px;
}

.cart-info{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: green;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: small;
    text-align: center;
    color:#fff;
}
.empty{
    background-color: red;
}


/*MAIN*/
main{
    grid-area: main;

    min-height: calc(100vh - 200px);
}

/*HEADER 2 */
.header2{
    height: 300px;
    display:grid;
    grid-template-columns: 1.2fr 1fr 1.2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 'logo img selling'
                            'shop img news';

}
.header2-logo{
    grid-area: logo;
    background-image: linear-gradient( to bottom, #220842 20%, #0597F2 80%);
    box-shadow: 10px 0px 50px black;
    z-index: 0;

}
.game-hub-logo-header2{
    width: 100px;
    height: auto;
    padding: 25% 10% 25% 10%;

}
.to-shop{
    grid-area: shop;
    background-color: #220842;
    padding: 25% 15%;
    font-size: 18px;
    z-index: 1;
    box-shadow: 10px -10px  50px black;

}
.to-shop a{
    color:#F205CB;
    text-decoration: underline;

}
.header2-img{
    grid-area: img;
    background-image: url('../images/woman.jpg');
    background-size: cover;
    background-position-x: center;
    z-index: -1;


}
.img{
    background-image: var(--color-dark-transparent)
}
.header2-info{
    grid-area: selling;
    background-color: #220842;
    color:white;
    font-size: 0.8rem;
    padding: 15% 5% 0 15%;
    box-shadow: -10px 10px 50px black;
    z-index: 1;
}
.header2-new-release-text{
    grid-area: news;
    color:white;
    text-shadow: #F205CB 2px 2px 2px;
    background-image: linear-gradient( to bottom, #0597F2 20%, #030BA6 80%);
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    font-size: 14px;
    padding-top: 15%;
    z-index: 0;
    box-shadow: -10px -10px  50px black;

}




/*Sellingpoint */
.selling-point-background{

    background-image: url("../images/controller.jpg");
    background-size: cover;
    background-position-y: bottom;
    height: 70px;
    z-index: -2;
    padding-top: 65px;

}
.selling-point{
    font-family: 'Kosugi', Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.685);
    color:white;
    font-size: 14px;
    position: absolute;
    width: 100%;
    height: 135px;
    top: 65px;
    z-index: 0;

}
.selling-point p{
    margin: 25px;
}
.selling-point a{
    color: #F205CB;
    font-size: 18px;
    position: relative;
    right: -40%;
    bottom: 15px;


}


/*contactpage*/
.contact-page-wrapping{
    width: 100vw;
}

.some-item{
    height: 30px;
    width: 32px;
    margin-right: 40px;
}
.floated{
    float: left;
}
.contact-page-wrapping h1{
    color: #0C098C;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
}

.contact-page-info{
    background-image: linear-gradient( to bottom, #220842 30%, #0597F2 70%);

    color:white;
    border: solid black 2px;
     /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);   */
     border-top-left-radius: 1%;
     border-bottom-left-radius: 1px;
     border-top-right-radius: 360px;
     border-bottom-right-radius: 360px;
    font-size: 12px;
    height: 261px;
    margin: 10px;
    padding: 10px;


}


.address{
    margin-top: 25px;
}
.address p{
    line-height: 3px;

}

.contact-img{

    background-image: url('../images/man2.jpg');
    background-size: cover;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    border:#000000 2px solid;
    position: absolute;
    left: 60%;
    top: 55%;

}
.contact-us{
    margin-top: 40px;
}

/*Game page and new release*/
.new-rel-style{
    text-transform: uppercase;
    background-image: linear-gradient(to right, #F205CB,#0597F2,#F205CB,#0C098C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 32px;
    text-align: center;
    text-shadow: 0 10px 4px rgba(0, 0, 0, 0.250);

}

.new-rel-slide-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0;

}

.new-rel-slide{
    display: flex;
    flex-direction: row;
    gap:3%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: scroll;
    overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

}
.new-rel-slide::-webkit-scrollbar{
    display: none;
}

.new-game-card{

    max-height: 35vh;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1.5fr ;
    grid-template-areas: 'card-img card-info ';
    font-size: 0.8rem;

    margin: 10px;

}
.new-game-card a{
    color: black;
    text-decoration: none;
}
.card-text{
    grid-area: card-info;
    margin-left: 20px;

}
.card-text h3{

    margin:0;
    color:#0C098C;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* .card-text p{
    font-size: 0.8rem;
    margin-right: 20px;
} */
.new-game-img{
    grid-area: card-img;
    height: 143px;
    width: auto;
    margin-left: 20px;
    margin-top:15px;

}
.game-title{
    text-transform: uppercase;
    font-size: 15px;
}



.add-to-cart-btn{
    grid-area: card-btn;
    background-image: url("../icons/to-cart.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-y: 50%;
    background-position-x: 10px;
    width: 100px;
    height: 20px;
    border: #F205CB solid 2px;
    border-radius: 30px;
    color:#F205CB;
    font-size: 0.7rem;
    text-align: end;
    margin-top: -15px;
    margin-bottom: 5px;



}

.page-slide{
    text-align: center;
}
.circle {

    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    border: solid 1px black;
    display: inline-block;
    margin: 15px 3px;

}
.current-game-slide{
    background-color: #bbb;
}
.single-card{
    min-width: 95vw;
}
.new-release-section{
    margin-top: 10%;
}

.all-games{

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(1, 0.8fr);
}
.home-page .new-release-section{
    margin-top: 15%;

}



/*FOOTER*/


.footer-content{
    background-color: var(--color-dark-transparent);
    color:white;
    grid-area: footer;
    display:grid;
    width: 98%;
    min-height: 150px;
    font-size: var(--font-size-08rem);
    padding: 1%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2.5fr 0.5fr 1fr 0.5fr;
    grid-template-areas: 'news some '
                         'sub sub '
                         'logo logo'
                        'copy copy';
}
.subscibe-news{
    grid-area: news;
    line-height: var(--line-spacing);
    font-size: 50px;

}


.subscribe-input{
    grid-area: sub;

}
.sub-mail{
    /* background-image: url("../../game-hub/icons/Mail.png"); */
    background-image: url("../icons/Mail.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-y: 50%;
    background-position-x: 5px;
    text-align: center;
    font-size: 0.6rem;
    height: 22px;
    width: 50%;
}
.sub-btn{
    height: 28px;
    width: 40%;
}

.footer-logo{
    grid-area: logo;
    padding-top: 15px;


}
.footer-contact{

    align-self: start;
    line-height: var(--line-spacing);
    font-size: 0.7rem;
}

.footer-some-wrapper{
    grid-area: some;
    line-height: var(--line-spacing);
    padding-top: 5%;
    display: flex;
    flex-direction: column;


}
.some-icons-wrapper{
    display: flex;
    flex-direction: column;
}
.some-icons-footer{
    height: 35px;
    width: 38px;
}

.copyright{
    grid-area: copy;
    font-size: 0.5rem;

    align-self: flex-end;
    text-align: center;
    padding: 3% 10%;
}
/* tablet */

@media (min-width: 750px ){
    /*navbar*/
    .logo-position{
        left: 70%;
        top: 15px;
    }
    header{
        height: 70px;

    }

    .game-hub-logo-header{
        height: 72px;
        width: auto;
        position: absolute;
        left:90%;
    }
    nav,
    #menu-checkbox{
        display: none;
    }


    nav{
        display: block;
        position: static;
        background-color: inherit;

    }

    .navbar-item{
        display: inline-block;
        padding: 25px 4%;
        font-size: var(--font-size-1rem);
    }

    .hamburger-icon{
        display:none;
    }
    .shopping-cart{
        height: 45px;
        width: 45px;

    }
    .cart-wrapper{


        top: 25px;
    }
    .cart-info{

        width: 25px;
        height: 25px;
        font-size: 1.5rem;
        text-align: center;
        padding: 2px;
        color:#fff;
    }

    main{


        min-height: calc(100vh - 200px);
    }

    /*HEADER 2*/


    .game-hub-logo-header2{
        width: 200px;

    }
    .to-shop{
        font-size: 2rem;
        z-index: 1;
    }


    .header2-info{
        font-size: 1.5rem;
    }

    .header2-new-release-text{
        font-size: 1rem;
        padding-top: 25%;
    }


    /*content*/
    .selling-point-background{
        background-image: none;
        display: none;
    }

    /*contactpage*/
.contact-page-wrapping{
    width: 90vw;
    height: 100px;

}
.some-item{

    width: 36px;
    margin-right: 100px;

}
.some-icons{
   height: 60px;
   width: 70px;
}

.contact-page-wrapping h1{
    font-size: 25px;
}
.contact-page-info{


    width: 80vw;
    height: 40vh;
    padding: 40px;
}
.address{
    margin-top: 35px;
}
.address p{
    line-height: 15px;

}

.contact-img{

    height: 150px;
    width: 150px;
    position: relative;
    top: -50%;

}
.contact-us{
    margin-top: 30px;

}

/*game page and new release*/
.new-release-section{
    margin-top: 20%;
}
.home-page .new-release-section{
    margin-top: 25%;

}
.new-release-section p{
    font-size: 1.5rem;
}
.new-release-section .in-cart{
    font-size: 1rem;
}
.selling-point-background .single-card{
    min-width: 75vw;
}
.new-rel-style{
    font-size: 58px;
    text-align: center;
}
.head-padding-game-page {
   position: absolute;
   top: 5%;
   left: 25%
}

.new-game-card{
    height: 240px;
}


.new-release-section .add-to-cart-btn{
    background-size: 25px;
    width: 160px;
    height: 35px;
    color:#F205CB;
    font-size: var(--font-size-1rem);
    text-align: end;
    padding-right: 20px;
     margin-top: -5px;

}
.all-games .add-to-cart-btn{
    background-size: 15px;
    width: 150px;
    height: 30px;
    font-size: var(--font-size-08rem);
    text-align: center;
    margin-top: 25px;
}

.game-title{

    font-size: 25px;
}
.card-text h3{

    font-size: 1.5rem;
}

.new-game-img{
    height: 200px;

}


    /* Footer */
    .footer-content{
        font-size: var(--font-size-1rem);
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.3fr 0.5fr 0.1fr 0.2fr;
        grid-template-areas: 'news some '
                             'sub some '
                             'logo logo'
                            'copy copy';
    }
    .footer-img{
        /* background-image: url("../../game-hub/images/controller.jpg"); */
        background-image: url("../images/controller.jpg");
        background-repeat: none;
        background-size: cover;
        background-position-y: center;
    }
    .some-icons-footer{
        height: 35px;
        width: 35px;
    }
    .footer-contact{
        line-height: var(--line-spacing-tablet);
        font-size: 0.8rem;
    }
    .sub-mail{

        background-size: 20px;
        background-position-x: 10px;
        font-size: var(--font-size-1rem);
        height: 30px;

    }
    .sub-btn{
        height: 36px;
        width: 40%;
    }
    .copyright{
        font-size: 0.6rem;
        align-self: flex-end;
        text-align: end;
        padding: 3% 10%;

    }

}

/*bigger tablet / small desktop*/
@media (min-width: 1000px) {
    header{
        height: 100px;
    }
    .navbar-item{

        font-size: var(--font-size-2rem);
    }
}
@media (min-height: 1000px){

    .contact-page-info{
        font-size: var(--font-size-1rem);
    }
    /*game page and new release*/
    .home-page .new-release-section{
        margin-top: 30%;

    }
   .new-release-section{
    margin-top: 15%;
   }
    .selling-point-background .single-card{
        min-width: 65vw;
    }
    .new-game-card{
        height: 300px;
    }
    .head-padding-game-page {

        top: 7%;
        left: 30%
     }
    .add-to-cart-btn{
        background-size: 35px;
        background-position-x: 20px;
        width: 200px;
        height: 60px;
        font-size: 1.3rem;
    }
    .game-title{
        font-size: 30px;
    }
    .card-text h3{
        font-size: var(--font-size-2rem);
    }
    .card-text p{

        margin-right: 20px;
    }

    .new-game-img{
        height: 270px;
        width: auto;

    }
   .all-games{
    padding-left: 20%;

   }
   .all-games .single-card{
    min-width: 50vw;
   }
}

/*Desktop*/
@media (min-width: 1300px){

    /*header 2*/
    .game-hub-logo-header2{
        width: 300px;
        padding: 25%

    }
    .to-shop{
        font-size: 2.5rem;
    }


    .header2-info{
        font-size: 2rem;
    }

    .header2-new-release-text{
        font-size: 1.5rem;
        padding-top: 15%;
    }

    /*contactpage*/

.some-item{

   width: 36px;
   margin-right: 150px;

}


.contact-page-wrapping h1{
   font-size: 35px;
}
.contact-page-info{

   width: 50vw;
   height: 45vh;
   padding: 40px;
   margin-left: 20%;
   font-size: var(--font-size-1rem);
}


/*game page and new release*/
.home-page .new-release-section{
    margin-top: 35%;

}
.new-release-section{
    margin-top: 10%;
}

.new-release-section .single-card{
    min-width: 55vw;
}
.head-padding-game-page {

    top: 7%;
    left: 35%
 }
.all-games{

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 0.5fr);
    padding-left: 0%;
}
.all-games .single-card{
    min-width: 35vw;
}


.footer-content{
   font-size: 1.5rem;
   grid-template-columns: 2fr 2fr;
   grid-template-rows: 0.3fr 0.5fr 0.1fr 0.2fr;
   grid-template-areas: 'news some '
                        'sub some '
                        'logo logo'
                       'copy copy';
}
.footer-some-wrapper{
   padding-left: 400px;
}
.footer-img{
    /* background-image: url("../../game-hub/images/controller.jpg"); */
   background-image: url("../images/controller.jpg");
   background-repeat: none;
   background-size: cover;
   background-position-y: center;
}


.footer-logo{
   grid-area: logo;
   padding-top: 15px;
   height: 100px;
   width: auto;


}
.some-icons-footer{
   height: 35px;
   width: 35px;
}
.footer-contact{

   line-height: var(--line-spacing-desktop);
   font-size: var(--font-size-1rem);
}
.sub-mail{

   background-size: 30px;
   background-position-x: 10px;
   font-size: 1.5rem;
   height: 50px;

}
.sub-btn{
   font-size: 1.5rem;
   height: 56px;
   width: 40%;
}
.copyright{
   font-size: var(--font-size-1rem);
   align-self: flex-end;
   text-align: center;
   padding: 0;

}


}
@media (min-width: 2000px ) {
    /*game page and new release*/
    .new-release-section{
       margin-top: 10%;

    }
     .home-page .new-release-section{
        margin-top: 35%;

    }
    .new-release-section .single-card{
        min-width: 35vw;
    }
    .head-padding-game-page {

        top: 7%;
        left: 45%
     }
    .all-games{

        display: grid;
        gap: 2px;
        grid-template-columns: repeat(3, 0.5fr);
        padding-left: 0%;
    }
    .all-games .single-card{
        min-width: 30vw;
    }
}
@media (max-height: 900px ) Or (max-width:400px){
    .contact-img{

        display: none;
        position: relative;
        margin-right: 0px;
        top: -50px;
    }
    .some-item{

        width: 36px;



    }
    .some-icons{
        height: 30px;
        width: 40px;
     }


    .contact-page-wrapping h1{
        font-size: 25px;
    }
    .contact-page-info{

        width: 70vw;
        height: 40vh;
        padding: 40px;
    }
    .address{
        margin-top: 15px;
    }
    .address p{
        line-height: 10px;

    }

    .contact-img{

        height: 110px;
        width: 110px;
        position: absolute;
        top: 60%;

    }
    .contact-us{
        margin-top: 20px;

    }

}

@media(max-width: 400px){
    .new-game-card{
        min-height: 150px;
    }
.card-text p{
    font-size: 0.6rem;
}
.new-game-img{
    height: 100px;
}

}
