@media (min-width: 1300px){
  
     /*contactpage*/

.some-item{
 
    width: 36px;
    margin-right: 150px;
   
}


.contact-page-wrapping h1{
    font-size: 35px;
}
.contact-page-info{
    
    width: 50vw;
    height: 45vh;
    padding: 40px;
    margin-left: 20%;
    font-size: var(--font-size-1rem);
}


.contact-img{
   
    height: 150px;
    width: 150px;
    position: relative;
    top: 0%;
    
}



.footer-content{
    font-size: 1.5rem;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.3fr 0.5fr 0.1fr 0.2fr;
    grid-template-areas: 'news some '                       
                         'sub some '
                         'logo logo'
                        'copy copy';
}
.footer-some-wrapper{
    padding-left: 400px;
}
.footer-img{
    background-image: url("/images/controller.jpg");
    background-repeat: none;
    background-size: cover;
    background-position-y: center;
}


.footer-logo{
    grid-area: logo;
    padding-top: 15px;
    height: 100px;
    width: auto;
   

}
.some-icons-footer{
    height: 35px;
    width: 35px;
}
.footer-contact{
  
    line-height: var(--line-spacing-desktop);
    font-size: var(--font-size-1rem);
}
.sub-mail{

    background-size: 30px;
    background-position-x: 10px;
    font-size: 1.5rem;
    height: 50px;
  
}
.sub-btn{
    font-size: 1.5rem;
    height: 56px;
    width: 40%;
}
.copyright{
    font-size: var(--font-size-1rem);
    align-self: flex-end;
    text-align: center;
    padding: 0;
    
}


}